<!DOCTYPE html>
<html>

<head>
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100vh;
            position: relative;
            background-color: rgba(0, 0, 0, 0.7);
            /* Fundo escuro */
            color: white;
            /* Texto branco */
            text-shadow: 1px 1px 2px black;
            /* Sombra no texto */
        }

        .main-content {
            margin-left: 260px;
            /* Ajuste conforme necessário */
            padding: 20px;
            border-radius: 15px;
            /* Borda arredondada */
        }

        thead {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
        }

        th,
        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            color: white;
            /* Texto branco */
            text-shadow: 1px 1px 2px black;
            /* Sombra no texto */
        }
    </style>

<h1>Todos os Usuários</h1>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Papel</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.role %></td>
          <td>
            <a href="/users/<%= user.id %>" class="btn btn-primary">Ver</a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">Editar</a>
            <form action="/users/<%= user.id %>?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
